@using TraversalCoreProje.CQRS.Results.DestinationResult
@model List<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CQRS TUR LİSTESİ</h1>

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Gün-Gece</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DestinationID</td>
            <td>@item.City</td>
            <td>@item.DayNight</td>
            <td>@item.Price</td>
            <td>@item.CapaCity</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/DestinationCQRS/GetDestination/@item.DestinationID" class="btn btn-outline-primary">Güncelle</a></td>
        </tr>
    }
</table>
<td><a href="#" class="btn btn-outline-primary">Yeni Tur Rotası Girişi</a></td>
